<!-- NOTE: assumes background is solid color -->
<!-- dont use with picture backgrounds or it won't look good -->
<div class="user-index-header">
    <br>
    <div class="user-controls">
        <div>
            Hello <a class="user-controls-link white" href="/u"><%=activeUser.username%></a>
        </div>
        <div>
            [ <a class="user-controls-link white" href="/ai">Ai</a> ]
            &nbsp;&nbsp;
            [ <a class="user-controls-link white" href="/api/user/logout">Logout</a> ]
        </div>
    </div>
    <br>
</div>