<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O_O</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <style>
        body {
            background-color: black;
            color: white;
        }
        .panel-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    </style>

</head>
<body>
    <center><p>Are you supposed to be in here?</p></center>
    <div class="flex-row">

        <div class="manual-donation-submission panel-container">
            <div class="tac" style="border: solid coral 2px; padding: 10px;">
                <form enctype="multipart/form-data" method="post"  action="/api/donations/createNewDonation">
                    <img class="pixel-crisp" src="./images/54.jpg">
                    <div id="upload-button">
                        <label for="file">File:</label>
                        <input id="file" name="uploaded_file" type="file" multiple>
                    </div>
                    <br>
                    <div class="tal">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" placeholder="Anonymous" value="Anonymous">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="content">Message</label>
                            <textarea id="message" name="message" rows="2" cols="50"></textarea>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="content">Amount</label>
                            <input type="number" id="amount" name="amount">
                        </div>
                        <br>
                    </div>
                    <input type="submit" value="SUBMIT DONATION">
                    <br>
                </form>
            </div>
        </div>
        
        <div class="manual-account-creation panel-container">
            <div class="tac" style="border: solid coral 2px; padding: 10px;">
                <form method="post" id="create-user-form" action="/api/user/createNewUser">
                    <h1>Create new User</h1>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Enter password" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        <input type="password" id="confirm-password" name="confirm_password" placeholder="Re-enter password" required>
                    </div>
                    <br>
                    <button type="submit">Submit</button>

                    <div id="p1" style="color: red; display: none;">
                        Passwords do not match!!!
                    </div>


                </form>
                <h5>TODO: print list of users and give information about them! Files uploaded, space taking up... etc</h5>

                <div>
                    <h3>Current Users:</h3>
                    <%allUsers.forEach(user => {%>
                        <div><%=user.username%></div>
                    <%});%>
                </div>

            </div>
        </div>


    </div>
</body>

<script> //script to ensure passwords match before submitting new user to DB

    let createUserForm = document.getElementById('create-user-form');

    console.log(createUserForm);

    createUserForm.addEventListener("submit", function(event) {

        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirm-password').value;

        const errorMessage = document.getElementById('p1');

        if (password != confirmPassword)
        {
            event.preventDefault();
            errorMessage.style.display = "block";
        }
        else 
        {
            errorMessage.style.display = 'none';
        }
    });
</script>

</html>