<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:)</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <style>
        body {
            background-color: black;
            color: white;
        }
        .panel-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        #user-selection-list {
            width: 25%;
            background-color: red;
        }

        #user-selection-display {
            width: 75%;
            background-color: blue;
        }
    </style>

    <script>
        var userListFromServer = <%- JSON.stringify(allUsers) %>;
    </script>

</head>
<body>
    <center><p>USER MANAGEMENT</p></center>
    
    <!-- Cont -->
    <div class="flex-row">

        <div id="user-selection-and-management-window" class="flex-row width-100">
            
            <div id="user-selection-list" class="scrollable-div">
                <!-- 
                 selectable divs become selected when user holds left click and drags over them
                 (mousedown, mouseover while mousedown is true)

                 also, holding shift and clicking will select all items between previous selected and next
                 (use index of previously selected item to do it)
                -->
                
                <%allUsers.forEach((user) => {%>
                    <script>console.log("hi")</script>
                    <div class="selectable-div selectable-user-div">
                        <%=user.username%>
                    </div>
                <%});%>

                <!-- <div class="selectable-div selectable-user-div"> -->
                    <!-- this is an individual entry per user -->
                <!-- </div> -->
            
            </div>
            
            <div id="user-selection-display" class="">
            
            </div>

        </div>
        


    </div>

    <script>
        var userListFromServer = <%- JSON.stringify(allUsers) %>;

        console.log(userListFromServer);
    </script>

</html>