<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Hub</title>

    <link rel="stylesheet" href="/css/style.css">

    <%
    let isThisActiveUserPage = false;
    if (activeUser.username == targetUser.username)
    {
        isThisActiveUserPage = true;
    }
    %>

    <style>
        body {
            background-color: black;
        }

        .gallery-segment-day {
            padding: 10px;
            width: 95%;
        }

        .gallery-segment-date-label {
            margin-top: 5px;
            color: white;
        }

        .gallery-segment-pictures {
            width: 95%;
        }

        .gallery-image {
            width: 100px;
            height: 100px;
            background-color: red;

            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            margin: 5px;
            
        }

        #image-display {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 100%;
            height: 100%;

            background-color: rgba(0, 0, 0, 0.685);

            display: flex;
            align-items: center;
            justify-content: center; 
        }
        #image-to-be-displayed {
            max-width: 99%;
            max-height: 99%;

            text-align: center;
        }

        .hidden {
            display: none !important;
        }

        .close {
            position: absolute;
            top: 5px; right: 20px;
            font-size: 40px;
            color: white;
            cursor: pointer;
        }
    </style>

    <script>
        let pageUsername = "<%=targetUser.username%>";
    </script>

</head>

<body>
    <div class="flex-row flex-centered">
        <%if (isThisActiveUserPage) {%>
        <form class="suicune-form flex-column flex-centered" style="width: 99%;" enctype="multipart/form-data" method="post">
            <img src="/images/smeargle.png">
            <div id="upload-files" style="margin-bottom: 15px;">
                <label for="images-input">Choose images to upload: </label>
                <input id="images-input" name="uploaded_file" type="file" multiple>
            </div>

            <input type="submit" value="BEGIN UPLOAD" id="upload-button">

        </form>
        <%}%>
    </div>
    <div id="upload-console" style="max-height: 200px; overflow-y: auto" class="flex-column">

    </div>

    <div id="gallery" class="flex-column flex-centered">
        <!-- GALLERY HOLDER -->
         
        <div class="gallery-segment-day flex-column">

            <div class="gallery-segment-date-label">
                <h1>July 10th, 2025</h1>
            </div>

            <div class="gallery-segment-pictures flex-row flex-wrap">

                <div class="gallery-image" style="background-image: url('/images/800px-Luddite.jpg')" onClick="openFullImage('/images/800px-Luddite.jpg')"></div>

                <div class="gallery-image" style="background-image: url('/images/landscape.jpg')" onClick="openFullImage('/images/landscape.jpg')"></div>

            </div>

        </div>
        <!-- GALLERY HOLDER -->
    </div>

    <!-- vvv the lightbox from which images are displayed! -->
    <div id="image-display" class="hidden"> 
        <span onclick="closeDisplay()" class="close">&times;</span>
        <img id="image-to-be-displayed" src="" alt="A beautiful picture projected from magic box.">
    </div>
</body>

<script> //script for uploading files when the BEGIN UPLOAD button is pressed

    //much of this code is adapted from simpleUploadLogin.js to handle the client side of file uploading vv

    const uploadButton = document.getElementById('upload-button');
    const fileInput = document.getElementById('images-input');

    const uploadConsole = document.getElementById('upload-console'); //attach DOM elements to this to keep the user informed of their upload progress

    let fileNo = 1;
    let fileName = "";

    uploadButton.addEventListener("click", async (event) => {
        event.preventDefault();
        // TESTER VV
        // console.log(fileInput.files);

        fileNo = 1;

        let files = fileInput.files;

        let numberOfFiles = files.length;


        for (const file of files)
        {
            const lastModifiedTimestamp = file.lastModified;
            //TESTER vv
            const lastModifiedDate = new Date(lastModifiedTimestamp);
            console.log(lastModifiedDate);
            //TESTER ^^

            fileName = file.name;

            console.log('('+fileNo+'/'+numberOfFiles+') Preparing to upload:',fileName);
            addUploadToConsoleDOM(numberOfFiles);
            try
            {
                const formData = new FormData();
                formData.append("uploaded_file", file); //uploaded_file matches the parameter expected by multer in the route definition
                formData.append("lastModified", lastModifiedTimestamp)
                const response = await fetch("/api/image/uploadImageWithMulter", {
                    method: "POST",
                    body: formData,
                });

                const result = await response.json();
                if (result.success)
                {
                    console.log('Successfully uploaded',fileName);
                    addUploadStatusToConsoleDOM(result.success, result.errorMsg);
                }
                else
                {
                    console.log('Failed to upload',fileName);
                    addUploadStatusToConsoleDOM(result.success, result.errorMsg);
                }
            }
            catch (error)
            {
                console.log('Request to upload failed!', error);
            }

            // addUploadStatusToConsoleDOM(true, null);
            fileNo++; //END
        }

    });

    function addUploadToConsoleDOM(numberOfFiles)
    {
        const consoleMessage = document.createElement("div");
        consoleMessage.innerText = '('+fileNo+'/'+numberOfFiles+') Preparing to upload: '+fileName;
        consoleMessage.style.color = "white";
        return uploadConsole.appendChild(consoleMessage);
    }
    function addUploadStatusToConsoleDOM(success, statusMessage)
    {
        if (!statusMessage)
        {   
            statusMessage = "NO MESSAGE";
        }
        const consoleMessage = document.createElement("div");
        consoleMessage.textContent = "Successful? "+success+" - Status: "+statusMessage;
        if (!success)
        {
            consoleMessage.style.color = "red";
        }
        else
        {
            consoleMessage.style.color = "white";
        }

        return uploadConsole.appendChild(consoleMessage);
    }

</script>

<script>

    runFetch();

    async function runFetch()
    {
        let images = await fetchImagesByUsername(pageUsername);
        //TESTER vv
        // console.log(images);
    }

    async function fetchImagesByUsername(username) 
    {
        try
        {
            const response = await fetch("/api/image/getImagesByUsername/"+username, {
                method: "GET"
            });

            const data = await response.json();

            //TESTER vv
            // console.log(data);
            return data;

        }
        catch (error)
        {
            console.log('fetchImagesByUsername failed!', error);
        }

    }
</script>

<script>
    
    function openFullImage(src)
    {
        console.log('OPENING!');
        const display = document.getElementById('image-display');
        const image = document.getElementById('image-to-be-displayed');
        image.src = src;
        display.classList.remove("hidden");
    }

    function closeDisplay() {
        document.getElementById("image-display").classList.add("hidden");
    }

</script>

</html>