<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Hub</title>

    <link rel="stylesheet" href="/css/style.css">

    <%
    let isThisActiveUserPage = false;
    if (activeUser.username == targetUser.username)
    {
        isThisActiveUserPage = true;
    }
    %>

</head>

<body>

</body>

</html>