<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>???</title>

    <link rel="icon" type="image/x-icon" href="images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body class="entrance">
    <div class="literal-space-filler">

    </div>

    <div class="literal-space-filler">

        <img src="./images/sprites/Nils_battle_animation.webp">

        <form action="/api/user/login" method="post">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="" value="" required>
            </div>

            <br>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="" value="" required>
            </div>

            <input type="submit" value="Login" id="login-button">

        </form>
    </div>

</body>

</html>

