<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUSBOY TEST</title>

    <link rel="icon" type="image/x-icon" href="images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <main class="suicune-main">
        <h4>AARON'S SIMPLE BUSBOY TEST</h4>

        <!-- form using multer's middleware -->
        <form class="suicune-form" action="/api/suicune/uploadBusboy" enctype="multipart/form-data" method="post">
            <img src="./images/245.png">
            <div id="upload-button">
                <label for="file">File:</label>
                <input id="file" name="uploaded_file" type="file" multiple>
            </div>
            <br>
            <!-- <input type="submit" value="UPLOAD"> -->
            <br>
        </form>

    </main>

    <script src="./js/uploadLogic.js"></script>
</body>

</html>