body {
    background-color: black;
}

/* RELATED to the display of dynamic responses and submissions */
#responses-and-submissions-container {
    display: flex;
    flex-direction: column;
    
    max-width: 525px;
    padding-left: 25px;
    padding-right: 25px;

    margin-left: auto;
    margin-right: auto;

    font-size: 120%;

    /* vh is viewport height */
    max-height: 600px; 
    overflow-y: auto;

}
.user-submission {
    margin-left: auto;
    margin-bottom: 10px;
    max-width: 300px;

    /* text-align: right; */
}
.ai-response {
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 300px;
}
/* :D */

/* QUERY input related style :D */

.bigger-button {
    width: 25%;

}

/* :) :) :) */

.text-white {
    color: white;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex-centered {
    display: flex;
    justify-content: center;
}
.flex-right-justify {
    display: flex;
    justify-content: right;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-justify-right {
    justify-content: right;
}

.margin-bottom-5px {
    margin-bottom: 5px;
}
.margin-top-20px {
    margin-top: 20px;
}

#scrollToBottom {
    background-color: black;
    color: white;
    font-size: 150%;
    outline: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 800px) { /*Tablet view*/
    #responses-and-submissions-container {        
        
        max-width: 725px;
    
    }

    .ai-response {
        max-width: 450px;
    }
    .user-submission {
        max-width: 400px;
    }
}

