body {
    margin: 0;
    padding: 0;
}
/* Generic HEADER and DB Presentation Styles vvv */
.media-index {
    background-color: black;
    color: white;

    background-image: url("../images/sprites/secret-shop-background.png");
}
.header-blue-keeper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 5px;
    padding-bottom: 5px;

    background-color: #151515;
    border-bottom: ridge 2px purple;
}
nav {
    display: flex;
    /* display: none; */

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /* width: 50%; */
}

#nav-desktop {
    display: none;
}
#nav-mobile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav li {
    padding: 0;
    display: inline-block;
    margin: 5px 5px 10px 5px;
}
/* nav li a {

} */
nav li div {
    display: inline-block;
    padding: 15px;
    border: 3px outset purple;
    background: black;

    width: 75px;

    text-align: center;
    text-decoration: underline;

    color: purple;
}
nav li div:hover {
    background-color: rgb(192, 0, 0);
    color: white;
}
#blue-keeper {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    margin-right: 15px;
    /* margin-top: 5px; */

    /* width: 75px; */

    border: 3px outset purple;
}
.home-button {
    padding: 0;
    margin: 0;

    vertical-align: middle;
}

.user-controls {
    /* position: absolute;
    top: 10px; */
    /* right: 12px; */

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    
    padding-left: 20px;
    padding-right: 20px;
}
.user-controls-link {
    color: purple;
}
.user-controls-link:hover {
    color: red;
}

/* Media catalog styles */
/* basically, the home page for each media type :) */
.media-catalog-wrapper {
    max-width: 1000px;
    /* height: 100vh; */

    margin: 0 auto 0 auto;
    padding: 0 15px 0 15px;

    background-color: black;

    display: flex;
    flex-direction: column;
}
.anime-girl {
    order: 2
}
.anime-girl img{
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    vertical-align: text-bottom;

    max-width: 100%;
}

.search-container button:hover {
background: #ccc;
}

.generic-utility-button {
    margin-left: 10px;
    font-size: 14px;
    padding-right: 2px;
    cursor: pointer;

    display: flex;
    align-items: center;
}
.generic-utility-button:hover{
    color: red;

}

#search-table {
    max-width: 100px;
}

.refresh-uploads-button {
    padding-left: 2px;
    margin-left: 15px;
}

.underlined {
    text-decoration: underline;
}

/* dynamic changes between row or column depending on size of device */
.flex-dynamic {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.genre-box {
    /* max-width: 1000px; */
    background-color: #151515;
    border-top: purple solid 3px;

}
.genre-box h2 {
    padding: 3px;
    margin: 0;
}

#legal-notice {
    padding-left: 5px;
    padding-right: 5px;
}

/* table for presenting  */
.recent-uploads {
    margin-bottom: 15px;
}
.recent-uploads-header {
    text-align: center;
}
.recent-uploads table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
    margin: 0 auto 0 auto;
}
.recent-uploads td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
}
.recent-uploads tr:nth-child(even) {
    background-color: #151515;
}

/* HOMEPAGE and BODY Styles vvv */

.tienda-body {
    background-color: black;
    /* display: flex; */
    /* justify-content: center; */
    margin: 0;
    padding: 0;

    background-image: url("../images/sprites/secret-shop-background.png");
    background-size: 100%;
}

.entrance {
    background-color: #6f6078;

    /* background-image: url("../images/sprites/tienda-secreta-map.png");
    background-repeat: no-repeat; */

    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    overflow-x: hidden;
}
.entrance-background-absolute {
    position: absolute;
    background-image: url("../images/sprites/tienda-secreta-map.png");
    background-repeat: no-repeat;

    z-index: -1;
    
    /* width: 75vh; */
    /* height: 85vh; */
    width: 100%;
    height: 85vh;

    
    padding: 0;
    margin: 0;
}

/* LOGIN PAGE */

#login-error-message {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.5);
}

.literal-space-filler {
    min-height: 35vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.literal-space-filler form {
    background-color: rgb(137, 137, 137);

    border: 4px groove;
    /* display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column; */

    padding: 15px;

    width: 200px;

    font-family: "Comic Sans MS", "Comic Sans", sans-serif;

    text-align: center;
}
.form-group label {
    color: white; 

    display: inline-block;
    width: 75px; /* Adjust the width as needed */
    text-align: left;
    margin-right: 10px;
}
#login-button{
    margin-top: 25px;
    width: 50px;
}

/* TIENDA STOREFRONT PAGE (home) */
#selection-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
}
/* #selection-menu ul > li:not(:first-child) {
    margin-top: 15px;
} */
#selection-menu > a:not(:first-child) {
    margin-top: 15px;
}
#selection-menu li {
    margin: 0;
    padding: 0;
    display: inline;

    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}
#pointer{
    position: absolute;
    z-index: 9999;

}
#pointer img{
    width: 60px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

/**** Mobile View / Slim type monitor ****/
header {
    /* margin-top: 100px; */
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 25px; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title {
    font-family: 'Adventure ReQuest', "Comic Sans MS", "Comic Sans", sans-serif;

    color: white;

    text-align: center;

}
.title h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.title h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}
.welcome-desktop {
    display: none;
}
.welcome-mobile {
    display: inline;
}

.tienda-wrapper {

    height: 100%;
}

.anna-portrait {
    display: none;

    width: 192px;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;

    order: 1;
}

#selection-menu {
    margin-top: 15px;

    max-width: 300px;

    display: flex;
    flex-direction: column;

    /* height: 2000px; */
    
    margin-left: auto;
    margin-right: auto;


    padding: 25px;

    background-image: url("../images/sprites/purpletiles.png");
    background-size: 75%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    border: 4px solid #e5dfb3;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5), 10px 0 10px rgba(0, 0, 0, 0.5);
}
/* vv pixelated text form FE font are 60px X 13px */
#selection-menu img {
    width: 200px;
    /* padding-left: 200px; */
}

.sneaky-anna {
    display: none;
}

.sneaky-top {
    display: none;
}

.tienda-sidebar {
    display: none;
}

/* SUICUNE Styles ;p */
.suicune-main {
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    text-align: center;

}
.suicune-main h4{
    margin-top: 2px;
    margin-bottom: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.suicune-form {
    background-color: rgb(255, 235, 199);
    padding: 10px;

    color: black;

    border: 4px groove;
}
#file {
    max-width: 150px;
}

.desktop-invisible {
    display: block;
}
.mobile-invisible {
    display: none;
}

/* USER PORTAL / user-index page styles! */
.user-index-body {
      background-color: #151515; 
}
.user-index-header{
    text-align: center;
}
#upload-and-list-wrapper{
    display: flex;
    flex-direction: column; 
    text-align: center;
}
#upload-and-list-wrapper h4{
    padding: 5px;
    margin: 0;
}
.uploader-container {
    /* background-color: red; */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* TEST COLOR ^^ */

    /* margin-left: 5px; */
}
.suicune-width {
    width: 60%;
    max-width: 250px;
    min-width: 205px;
}
.individual-upload {
    background-color: #363636;
    /* max-height: 100px; */
    /* max-width: 250px; */
    width: 200px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: #b3b2b2 2px inset;

    padding-bottom: 3px;

    overflow-wrap: break-word;
    
}
.smaller-upload-text {
    size: 10px;
    color: rgb(160, 160, 160);
}
.individual-upload h6 {
    margin: 0;
    padding: 0;
}
.text-align-left {
    text-align: left;
}

#news {
    padding: 10px;

    width: 95%;
}
.news-article {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

.userPortal-utility-bar
{
    /* width: 99%; */
    background-color: #292929;
    padding: 15px;

    justify-content: center;
}

.border-color-grey {
    border-color: rgb(70, 70, 70);
    background-color: rgb(70, 70, 70);
}

.upload-list-container {
    /* background-color: blue; */
    /* TEST COLOR ^^ */
    font-family: monospace, sans-serif; 
    width: 100%;

    margin: 0 auto 0 auto;
    max-width: 100vw;
}
#list {
    border-collapse: collapse;
    /* border: none; */
    width: 100%;
}
#list a {
    color: #0070e0;
}
#list a:visited {
    color: #0070e0;
}
#list a:hover {
    color: red;
} 
.upload-list-name-column a {
    text-decoration: none;
}
.upload-list-name-column a:hover {
    text-decoration: underline;
}
#list th {
    border: none;
    /* padding: 0; */
    /* padding-left: 0; */
}
#list td {
    border: none;
}
#list tbody {
    text-align: left;
}
/* vv tr = table row */
#list tbody tr {
    border-bottom: rgb(49, 49, 49) 1px solid;
}
/* every other row is a dif color vv */
#list tr:nth-child(even) {
    background-color: #292929;
}
#list tbody td {
    padding-bottom: 6px;
}

.file-name-link-mobile {
    padding-bottom: 15px;
}


 

.upload-list-name-column {
    /* display: table-cell;
    width: 35%; */
    
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */

    padding-right: 15px;

    word-wrap: break-word; /* Ensures words break when necessary */
    word-break: break-word; /* Specifies how words should break */
    overflow-wrap: break-word; /* Prevents overflow when a long word is too long to fit */
    

    text-align: center;

    /* height: 100%; */
  
}
.flex-basis-mobile-name {
    flex-basis: 75%;
    padding-left: 15px;

    padding-top: 6px;

}
.mobile-file-details {
    padding-top: 8px;

}
.mobile-file-name-div {
    padding-left: 15px;
}
#name-column-label {
    display: none;
}
.upload-list-link-column {
    display: none;
    width: 2%;
}
.upload-list-size-column {
    display: none;
    width: 8%;
}
.upload-list-date-column {
    display: none;
    /* width: 15%; */
    padding-left: 10px;
}

.link-as-button a{
    color: white !important;
    text-decoration: underline;
}
.link-as-button a:hover{
    color: red !important;
}

footer {
    /* display: flex; */
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}
footer a {
    color: #0070e0;
}
footer a:hover {
    color: red;
} 
footer a:visited {
    color: #0070e0;
}

.mobile-file-sorting-taskbar {
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #151515;
    margin-bottom: 5px;
}

.flex-centered-mobile {
    justify-content: center;
}

/* QUICK EDIT FEATURE: edit individual files without exiting the user portal webpage */

#quick-edit-div {
    position: fixed;
    top: 50px;
    left: 5px;

    display: none;
    flex-direction: column;
    padding: 2px;

    background-color: #d6daf0;

    border: pink solid 1px;

    max-width: 100%;
}
#grab-button-quick-edit {
    padding: 2px;
    background-color: #9988ee;
    text-align: center;
    border: black solid 1px;

    cursor: move;
}
#button-close-qick-edit {
    float: right;
}

#edit-toolbar {
    display: none;
}

/* display: inline-block is the default */
.checkbox-file-user-portal {
    display: none;
    margin-right: 3px;
    /* margin-top:7px; */
}
.edit-file-button-user-portal {
    display: none;
    padding-bottom: 4px;
    align-self: flex-start;
}


/* ^^^ Quick Edit Feature ^^^ */

.goaway { /*dont even ask LMAO... this is a secret cheat*/
    display: none;
}

/* ^^^ USER PORTAL / user-index page styles! */

/* --- tablet >_< view --- */

@media (min-width: 800px) {


    /* USER PORTAL / user-index page styles! */
    #upload-and-list-wrapper{
        display: flex;
        flex-direction: row;
    }
    .uploader-container {
        width: 32%;
    }
    .upload-list-container {
        width: 65%;
        border-left: 2px solid rgb(112, 112, 112);
        padding-left: 20px;
        padding-right: 5px;

        margin-left: 1px;
    }
    /* .upload-list-container {
        width: 65%;
        border-left: 2px solid rgb(112, 112, 112);
        padding-left: 20px;
        padding-right: 5px;
    } */
    .upload-list-name-column {
        /* width: 50%; */

        display: table-cell;
        width: 35%;

        text-align: left;
        padding-top: 5px;
        padding-bottom: 5px;

        padding-left: 10px;
    }
    #name-column-label {
        display: table-cell;
        width: 15%;
    }
    .upload-list-link-column {
        display: table-cell;
        /* width: 13%; */
    }
    .upload-list-size-column {
        display: table-cell;
        /* width: 15%; */
    }
    .upload-list-date-column {
        width: 15%;
        display: table-cell;
        margin-right: 15px;
    }

    .suicune-width {
        max-width: 250px;
        width: 80%;
    }
    /* ^^^ USER PORTAL / user-index page styles! */

    /* generic page header */

    .header-blue-keeper {
        flex-direction: row;
    }

    #nav-desktop {
        display: block;
    }
    #nav-mobile {
        display: none;
    }

    #blue-keeper {
    
        margin-right: 15px;
        margin-top: 5px;
    
    }

    .entrance-background-absolute {
        top: 55px;
        left: 35px;
    }

    /* login page tab/des */
    .entrance {
        /* background-color: red; */
        flex-direction: row;

        justify-content: center;
        align-items: center;
        /* background-color: #2c2c2c; */
        background-color: #6f6078;
    }
    .literal-space-filler {
        
        min-height: 87vh;
        width: 50%;
        flex-grow: 1;
    }
    .literal-space-filler form {
        width: 300px;
    }
    .literal-space-filler img {
        margin-top: 25px;
    }


    #selection-menu {
        max-width: 600px;
    }

    .anna-portrait {

        order: 2;
        display: inline;
        margin-top: 20px;

        width: 192px;
    
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        image-rendering: crisp-edges;
    
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5), 10px 0 10px rgba(0, 0, 0, 0.5); /* Drop shadow to left and right */

    }

    .desktop-invisible {
        display: none;
    }
    .mobile-invisible {
        display: inline;
    }
    /* anna portrait sprite is 48 px */

    .goaway {
        display: flex;
    }

    #login-error-message {
        color: #ffffff;
        background-color: transparent;
    }

    /* Utility Bar Options */
    .userPortal-utility-bar
    {
        justify-content: left;
        margin-right: 15px;
    }

    .flex-centered-mobile {
        justify-content: left;
    }
}

/* ` ` [  ] DESKTOP x VIEW [  ] ` ` */

@media (min-width: 1000px) {
    .desktop-invisible {
        display: none;
    }
    .mobile-invisible {
        display: inline;
    }

    body {
        background-image: none;
    }

    .flex-dynamic {
        flex-direction: row;
        justify-content: center;
    }
    
    .anime-girl {
        order: -1;
    }
    .anime-girl img{
        max-width: 500px;
    }
    
    .tienda-body {
        background-image: none;
    }

    header {
        justify-content: start;
        align-items: start;

        flex-direction: row;

        max-width: 800px;
        
    }

    .tienda-wrapper {
        background-image: url("../images/sprites/secret-shop-background.png");
        background-size: 80%;
    
        height: 100vh;

        display: flex;
    }

    .tienda-main {
        flex-basis: 90%
    }

    .anna-portrait {
        margin-top: 0px;
        order: 0;
    }

    .title {
        font-family: 'Adventure ReQuest', "Comic Sans MS", "Comic Sans", sans-serif;
    
        color: white;
    
        padding-left: 125px;
        margin-top: 60px;

        display: flex;
        flex-direction: column;
    
    }
    .title h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .title h1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .welcome-desktop {
        display: inline;
    }
    .welcome-mobile {
        display: none;
        font-size: 16px;
    }

    #selection-menu {
        /* background-color: red; */
        margin-top: 100px;

    }

    #selection-menu img {
        width: 50%;
    }


    .tienda-sidebar {
        margin-top: 50px;
        display: inline;

        background-color: black;
        color: white;

        margin-right: 150px;

        max-height: 300px;
        width: 300px;

        padding: 5px;

        font-family: "Comic Sans MS", "Comic Sans", sans-serif;

        border: 4px solid #000020;
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5), 10px 0 10px rgba(0, 0, 0, 0.5);
    
    }    
    .tienda-sidebar h3 {
        margin: 0;
        padding: 0;
    }
    .tienda-sidebar ul {

        list-style: none;
        padding: 0;
        margin: 0;
    
        display: flex;
        flex-direction: column;
    }
    .tienda-sidebar li {
        margin: 0;
        padding: 0;
        /* display: inline; */
    
        font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    }

    .sneaky-top {
        position: fixed;
        top: 0px;
        left: 5%;
        z-index: -1;
        color: white;
        padding: 0;
        margin: 0;
    }

    .sneaky-anna {
        display: block;
    }
}

/* UTILITY! Pure functionality in easy class form */

/* COLORS!! */
.white {
    color: white;
}
.blue {
    color: #0000EE;
}
.red {
    color: red;
}

.background-151515 {
    background-color: #151515;
}
.background-202020 {
    background-color: #202020;
}
/* COLORS ^^^^ */
.tac {
    text-align: center;
}
.tal {
    text-align: left;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.margin-10px {
    margin: 10px;
}
.margin-15px {
    margin: 15px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-left-auto {
    margin-left: auto;
}
.margin-right-auto {
    margin-right: auto;
}

.align-self-flex-end {
    /* align-self: flex-end; */
    margin-top: auto;
}

.pixel-crisp {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.padding-5px {
    padding: 5px;
}
.width-200px {
    width: 200px;
}
.width-100 {
    width: 100%;
}
.remove-left-border {
    border-left: none;
}
.underlined-text {
    text-decoration: underline;
}

.word-wrapping {
    word-wrap: break-word; /* Ensures words break when necessary */
    word-break: break-word; /* Specifies how words should break */
    overflow-wrap: break-word; /* Prevents overflow when a long word is too long to fit */
}

.font-weight-bold {
    font-weight: bold;
}

.tooltip-left {
    position: relative;
    display: inline-block;
    border-bottom: 1px
}
.tooltip-left .tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;

    padding: 5px;
    color: #fff;
    background-color: black;
    text-align: center;
    width: 120px;

    border-radius: 6px;

    /* vv makes it show up left of tooltip hover */
    top: -5px;
    right: 108%; 
}
.tooltip-left:hover .tooltip-text {
    visibility: visible;
}

.link-visited-negate:visited {
    color: #0070e0;
}






