<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TEST STREAM</title>

    <style>

        body {
            background-color: black;
            color: white;
        }

        .flex-box-centered {
            display: flex;
            justify-content: center;
        }

        .margin-top {
            margin-top: 100px;
        }



    </style>

</head>

<body>
    <div class="flex-box-centered margin-top">
        <video width="800" controls>
            <source src="http://localhost:8080/api/video/videoTEST" type="video/mp4">
        </video>
    </div>
</body>

</html>