body {
    background-color: black;
    /* display: flex; */
    /* justify-content: center; */
}

.wrapper-main {
    color: white;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 600px;
}

/* nav {

} */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
    margin: 0;
    padding: 0;
    display: inline;
}

header {
    
}

/* anna portrait sprite is 48 px */
.anna-portrait {
    width: 192px;
    /* max-height: 125px; */
    float: left;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}


header h2 {
    font-family: 'Adventure ReQuest', "Comic Sans MS", "Comic Sans", sans-serif;
}